<nav class="navbar is-primary" x-data="{ openNav: false }" role="banner" style="padding-top: 1rem; padding-bottom: 0.2rem;">
    <div class="container is-align-items-center">
    <!-- <div class="container"> -->
        <div class="navbar-brand">
            <a href="https://www.unam.mx/" class="py-0 px-0">
                <img src="{{ site.baseurl }}/img/logo-unam-oro.png" style="height: 90px; object-fit: contain;">
            </a>
            <a href="https://enesmerida.unam.mx/#/index" class="py-0 px-1">
                <img src="{{ site.baseurl }}/img/logo-enesmid.png" style="height: 90px; object-fit: contain;">
            </a>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navMenu"
                :class="{ 'is-active': openNav }"
                x-on:click="openNav = !openNav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end">
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                    <!-- Logo de YouTube -->
                    <img src="{{ site.baseurl}}/img/icon-youtube.png" alt="YouTube Logo" width="30">
                </a>
            </div>
        </div>
    </div>
</nav>
