---
---

/* $navbar-height: 110px; // o la altura que tú desees, por ejemplo 80px */
$primary: #004080;
/* $navbar-background-color: #004080; */
/* $navbar-item-color: #ffffff; */
/* $navbar-item-hover-color: #ffcc00; */
/* $navbar-item-hover-background-color: #003366; */
$container-max-width: 1024px;  // Por ejemplo, un ancho máximo de 960px

// Estilo para cada bloque de persona
.person-block {
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    color: #555;
    height: 140px;
  }
}
/* Cambia el color del texto al pasar el mouse, sin cambiar el fondo */
.navbar-item:hover {
  /* background-color: transparent !important; */
  color: #ffd700 !important;
}
.navbar-item.is-active {
  color: #ffd700;
  background-color: transparent;
  border-bottom: 2px solid #ffd700;
}
// Import Main CSS file from theme
@import "main";
