.navbar-item img {
  max-height: none;
  height: 80px;
  width: auto;
}

.navbar {
  min-height: 90px;
}

/* Cambia el color del texto al pasar el mouse, sin cambiar el fondo */
.navbar-item:hover {
  background-color: transparent !important; /* Evita el cambio de fondo */
  color: #ffd700 !important; /* Cambia este color a lo que tú quieras */
}

/* .navbar-item.is-active {
  color: #ffd700 !important;
  background-color: transparent !important;
} */
