<div class="content">
    <h3>Modalidad: Informe Académico por Actividad de Investigación</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción está dirigida a aquellos (as) alumnos (as) que se incorporen a un proyecto de investigación formal desarrollado por un docente o investigador de la UNAM, por al menos dos semestres.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>75 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Constancia de participación en proyecto de investigación formal desarrollado por un docente o investigador de la UNAM, indicando el periodo de participación, el cual no debe ser menor a dos semestres.</li>
        <li>Presentación de anteproyecto de Informe Académico, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
    <hr>
    <h3>Modalidad: Actividad de Investigación: Artículo Académico o Capítulo de Libro</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción contempla las siguientes modalidades:
    </p>
    <ol class="is-lower-alpha">
        <li>
            <strong>Artículo científico</strong>
            <p class="has-text-justified">
                Un artículo científico es un texto que contiene el planteamiento, desarrollo y conclusión de una investigación científica y constituye el principal mecanismo de difusión, nacional e internacional, de resultados en las distintas áreas de trabajo de la licenciatura. La o el alumno debe fungir como autor participante en el artículo, al igual que el académico que funja como tutor.
            </p>
        </li>
        <li>
            <strong>Capítulo de libro</strong>
            <p class="has-text-justified">
                Es el escrito producto de un proceso de investigación que describe y presenta los resultados originales de una parte de la investigación; se inscribe de manera pertinente, armónica y coherente en una obra más amplia llamada libro; cumple con los parámetros científicos y editoriales para ser publicado. La o el alumno debe fungir como autor participante en el artículo, al igual que el académico que funja como tutor.
            </p>
        </li>
    </ol>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>80 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Aprobación del anteproyecto (en este caso abstract) por parte del Comité Académico de la licenciatura.</li>
    </ul>
</div>
