<div class="content">
    <h3>Modalidad: Actividad de apoyo a la Docencia</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción está orientada a :
    </p>
    <ul class="has-text-justified">
        <li>alumnos (as) interesados (as) en el ejercicio profesional de la docencia,</li>
        <li>o egresados (as) que son docentes en activo o han impartido clases en los niveles de educación media superior (bachillerato) o superior (licenciatura), en áreas del conocimiento afines a la licenciatura durante por lo menos dos años demostrables en el ejercicio de la docencia.</li>
    </ul>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>75 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Presentación de anteproyecto de Informe Académico, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
    <hr>
    <h3>Modalidad: Proyecto de apoyo a la Divulgación</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción está dirigida a aquellos (as) alumnos (as) que hayan desarrollado o participado en un proyecto de divulgación en campos de conocimiento afines a la licenciatura, el cual haya derivado en la elaboración de un producto (o productos), por ejemplo, artículos de divulgación, podcast, videos, exposición, infografías o carteles, propuesta o sistematización de talleres, que reflejen de manera original y creativa los conocimientos adquiridos en la carrera con una finalidad aplicativa.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>75 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>En caso de que el producto sea un artículo de divulgación, éste debe haber sido publicado o aceptado para su publicación en una revista de divulgación científica o universitaria.</li>
        <li>Carta del académico responsable del proyecto donde se haga constar la participación del egresado (a) en la actividad o proyecto de divulgación, especificando periodo y tareas.</li>
        <li>Aprobación del anteproyecto de elaboración de producto de divulgación por parte del Comité Académico de la licenciatura.</li>
    </ul>
</div>
