<div class="content">
    <h3>Modalidad: Práctica Profesional Supervisada</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción está dirigida a aquellos (as) alumnos (as) que realicen una práctica profesional supervisada (PPS) vinculada con los campos disciplinarios de la licenciatura, en una institución pública, social o privada, durante al menos seis meses y con duración mínima de 480 horas. La PPS se debe realizar de manera posterior al servicio social.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>100 por ciento de los créditos de la licenciatura</strong>.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Presentar la constancia de registro y aprobación de la PPS en el Sistema de Información Automatizada de Prácticas Profesionales de la DGOAE.</li>
        <li>Presentación de anteproyecto de Informe Académico en el marco de la PPS, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
    <hr>
    <h3>Modalidad: Informe Académico por Actividad Profesional</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción está dirigida a aquellos (as) alumnos (as) que se hayan desempeñado profesionalmente en instituciones públicas, sociales o privada durante al menos un año, aplicando los conocimientos, capacidades y valores profesionales en un proyecto o actividades específicas relacionadas con su formación en la licenciatura.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>100 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Demostrar experiencia profesional de al menos un año, afín a la carrera y al proyecto presentado.</li>
        <li>Presentar carta de consentimiento libre e informado de la institución, empresa u organización donde realizó la actividad profesional.</li>
        <li>Presentación de anteproyecto de Informe Académico, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
    <hr>
    <h3>Modalidad: Informe Académico de Servicio Social</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Esta opción consiste en la elaboración de un informe académico del servicio social donde el (la) alumno (a) reporta de manera detallada las funciones y actividades desarrolladas en su programa de servicio social, las cuales deben estar vinculadas con su formación disciplinaria, evidenciando que el (la) alumno (a) desempeñó una labor afín a su profesión.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>70 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida. En cualquier caso, debe explicitarse que se cumplió o cumplirá con 600 horas totales de Servicio Social.</li>
        <li>Carta de autorización o de consentimiento libre e informado de la institución en la que se realiza el Servicio Social.</li>
        <li>Presentación de anteproyecto de Informe Académico de Servicio Social, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
</div>
