<div class="content">
    <h3>Modalidad: Tesis</h3>
    <h5>Descripción general:</h5>
    <p class="has-text-justified">
        Consiste en una disertación individual original, producto de una investigación y escrita con
        claridad y rigurosamente argumentada. En ella se presentan los resultados obtenidos con
        rigor metodológico sobre un tema científico o tecnológico dentro de las ciencias afines a la
        licenciatura.
    </p>
    <h5>Requisitos de registro de la opción:</h5>
    <ul class="has-text-justified">
        <li>Haber cubierto el <strong>75 por ciento de los créditos de la carrera</strong> al momento del registro en la modalidad.</li>
        <li>Presentar la constancia de liberación del Servicio Social, de acuerdo a la Legislación Universitaria o, en su defecto, una constancia de registro del Servicio Social emitida por el área responsable en la ENES Mérida.</li>
        <li>Presentar la constancia de registro y aprobación de la PPS en el Sistema de Información Automatizada de Prácticas Profesionales de la DGOAE.</li>
        <li>Presentación de anteproyecto de Tesis, avalado por un tutor (a), ante el Comité Académico de la licenciatura, el cual analizará el documento y, en su caso, aprobará el registro.</li>
    </ul>
</div>
